.header{
    color: blueviolet;
}
.usercard{
    width: 300px;
    margin: 30px;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 3px 1px #ccc;
}
.img{
    width: 280px;
}
.text{
    padding: 10px;
}
.container{
    display: flex;
}